<div class="hero-blurb page-about-us" style="margin: 0 auto; width:900px;">


	<h2>About Us</h2>
	<p>
		We’re a team of educators, researchers, developers, designers, and business development specialists who are passionate about providing solutions for early childhood education, a crucial but often overlooked stage in a child’s life.
	</p>
	<p>
	Learning Loop is an online platform that allows educators and parents to share information about their child in a simple and meaningful way. Track observations, get insights, celebrate achievements and help education's youngest members thrive.
	</p>
	<section class="funfact">
		<h3>Fun Fact!</h3>
		<p class="large">
			We conceptualized the idea, built the platform in under 54 hours, and <strong>WON</strong> the first <a href="http://toronto.startupweekend.org/2013/08/12/learning-loops-wins-first-canadian-startup-weekend-edu/">Canadian Startup Weekend EDU</a>!
		</p>
		<p>
			Thank you to the judges, mentors, event organizers, Smartypants, <a href="http://www.fieldr.co/">Fieldr</a> (2nd and 3rd place finishers), and all of the other teams for the incredible energy and keeping us on our (sleep-deprived) toes to create a product that exceeded even our own expectations.  Birds of a feather, indeed!
		</p>
		<p>Last but certainly not least, our deepest gratitude to the educators and parents, for tirelessly filling out surveys and participating in focus groups - all on a Saturday!  You’ve informed our process every step of the way, and rest assured, will continue to do so.</p>

		<p>From all of us here, thank you.</p>

<!-- 		<p>Watch our winning pitch video (listen closely and you can hear our hearts racing):</p>
		<p><a href="#"><strong>Download our Press Release</strong></a></p>
 -->
		<p>Meet the rest of our teams and watch how the magic unfolded at <a href="http://toronto.startupweekend.org/2013/08/11/startup-weekend-toronto-edu-meet-the-teams/"><strong>Startup Weekend Toronto EDU</strong></a>.</p>

		<h2>Press already? Don’t mind if we do!</h2>
		<ul class="press">
			<li><a target="_blank" href="http://edtechtimes.com/2013/08/12/startup-weekend-toronto-edu-announces-winners/"><img src="<%= asset_path('press/ed-tech-times.png') %>"></a></li>
			<li><a target="_blank" href="http://www.betakit.com/learningloop-captures-20000-startup-weekend-toronto-edu-grand-prize/?utm_content=buffer0a3b1&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer"><img src="<%= asset_path('press/betakit.png') %>"></a></li>
		</ul>
 		<div class="clearfix"></div>
	</section>

	<h3>Meet the Team</h3>
	
	<section class="team">
		<aside>
			<%= image_tag(asset_path("team.jpg"), :class=>"img-circle team") %>
		</aside>
		<dl>
			<dt>Development and Design</dt>
			<dd>
				<ul>
					<li><a target="_blank" href="http://www.oneseventyfive.com/">Sidra M. (UX/UI)</a></li>
					<li><a target="_blank"  href="http://www.linkedin.com/pub/filip-bartuzi/67/174/52"> Filip B. (Rails)</a></li>
					<li><a target="_blank" href="http://www.12gsolutions.com">Max RB. (Rails)</a></li>
					<li><a target="_blank" href="http://ca.linkedin.com/in/coryctaylor">Cory T. (.NET)</a></li>
				</ul>
			</dd>
			<dt>Sector/User Insight and Content Development</dt>
			<dd>
				<ul>
					<li>Chris B. (Registered Junior Kindergarten Teacher)</li>
					<li>Jess T. (Registered Early Childhood Educator)</li>
					<li>Erin W.  (Registered Early Childhood Educator)</li>
					<li <a target="_blank"  href="https://twitter.com/lorenaytona">Loren A. (Communications and Education Research)</a></li>
					<li>Lauren H. (Education Research and Policy)</li>
				</ul>
			</dd>
			<dt>Business Development and Operations</dt>
			<dd>
				<ul>
					<li><a target="_blank" href="https://www.linkedin.com/profile/view?id=6499097">Alison G. (Entrepreneur and proud parent)</a></li>
				</ul>
			</dd>
		</dl>

		<div class="clearfix"></div>
	</section>

	
</div>