<div class="hero-blurb page-about-us" style="margin: 0 auto; width:900px;">


	<h2>About Us</h2>
	<p>
		We’re a team of educators, researchers, developers, designers, and business development specialists who are passionate about providing solutions for early childhood education, a crucial but often overlooked stage in a child’s life.
	</p>
	<p>
	Learning Loop is an online platform that allows educators and parents to share information about their child in a simple and meaningful way. Track observations, get insights, celebrate achievements and help education's youngest members thrive.
	</p>

	<h3>Meet the Team</h3>

	<%= image_tag(asset_path("team.jpg")) %>

	<dl>
		<dt>Development and Design</dt>
		<dd>
			<ul>
				<li>Sidra A. (UX/UI)</li>
				<li>Filip B. (Rails)</li>
				<li>Max RB. (Rails)</li>
				<li>Cory T. (Rail, .net)</li>
			</ul>
		</dd>
		<dt>Sector and Consumer Insight and Content Development</dt>
		<dd>
			<ul>
				<li>Chris B. (Certified Junior Kindergarten Teacher)</li>
				<li>Jess T. (Certified ECE)</li>
				<li>Erin W.  (Certified ECE)</li>
				<li>Loren A. (Education Communications and Research)</li>
				<li>Lauren H. (Education Research)</li>
			</ul>
		</dd>
		<dt>Business Development and Operations</dt>
		<dd>
			<ul>
				<li>Allison G. (Entrepreneur and proud parent)</li>
			</ul>
		</dd>
	</dl>
</div>