<div class="hero-blurb page-about-us" style="margin: 0 auto; width:900px;">
	<section class="funfact">
		<h2>Press</h2>
		<p class='large'> 
			<a target="_blank" href="<%= asset_path('press.pdf') %>">Download our Press Release </a>
		</p>
		<hr>
		<h3>Media</h2>
		<ul class="press">
			<li><a target="_blank" href="http://edtechtimes.com/2013/08/12/startup-weekend-toronto-edu-announces-winners/"><img src="<%= asset_path('press/ed-tech-times.png') %>"></a></li>
			<li><a target="_blank" href="http://www.betakit.com/learningloop-captures-20000-startup-weekend-toronto-edu-grand-prize/?utm_content=buffer0a3b1&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer"><img src="<%= asset_path('press/betakit.png') %>"></a></li>
			<li><a target="_blank" href="http://www.techvibes.com/blog/learningloop-takes-first-prize-at-startup-weekend-toronto-edu-2013-08-13"><img src="<%= asset_path('press/techvibes-logo.png') %>"></a></li>
		</ul>
 		<div class="clearfix"></div>
 		<span></span><hr>
	</section>
</div>