<div class="hero-blurb page-sign-up" style="margin: 0 auto; width:900px;">
<p class="large">
	Hello! We’re finalizing our beta version and hope to roll out shortly.  
</p>
<p class="sign-up-p">
In the meantime, you can check out screenshots of upcoming LearningLoop modules for Early Childhood Educators and Junior Kindergarten Teachers at <a href="http://learningloop.weebly.com/">http://learningloop.weebly.com/</a>
</p>
<iframe id='prefinery_iframe_inline' allowTransparency='true' width='100%' height='400' scrolling='no' frameborder='0' src="https://learningloop.prefinery.com/betas/3985/testers/new?display=inline"></iframe>
</div>