
    <!-- Example row of columns -->
    <div class="row">
      <h3>My Family</h3>

      <% @children.each do |child| %>
          <div class="col-lg-4">
            <h2><%= child.first_name %></h2>
            <%= image_tag asset_path "avatars/" + child.picutre_url %>

            <p><%= link_to "Details", child %></p>
          </div>

      <% end %>

    </div>
