
    <!-- Example row of columns -->
    <div class="row">
      <h3>My Family</h3>

      <% @children.each do |child| %>
          <div class="col-lg-4">
            <h2><%= child.first_name %></h2>
            <!--<%= child.avatar %>-->
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>

      <% end %>

    </div>
