
@import "bourbon";
@import "bootstrap.min";
@import "bootstrap-responsive.min";
@import "fonts";

$lime : #d4ec89;
$teal : #78bec0;

$left_margin : 50px;

@import "classrooms";
@import "educators";
@import "families";
@import "parent";
@import "welcome";
@import "children";


h2 { 
	color: $teal; 
	margin-bottom: 31px;
}

h3 {
  color: $teal;
  font-weight:200;
}
.content-container {
	padding:$left_margin;
	line-height:1.2em;
	background: transparent url('homepage/bg.jpg') repeat 0px 0px;
}

a.button,
a.button:link,
a.button:visited{
	color:#fff; 
	padding: 5px 19px; 
	background:$teal; 
	border-radius:15px; 
	text-decoration:none;
	font-size:14px;
}

a.button:hover{
	background:#459294;
}