
@import "bourbon";
@import "bootstrap.min";
@import "fonts";

$lime : #d4ec89;
$teal : #78bec0;

$left_margin : 50px;

body, html, h1,h2,h3,h4,h5,h6{padding:0; margin:0; line-height:100%; font-family:Open Sans}

body{background:url('homepage/bg.jpg')}

.header-bg{min-width:900px; position:absolute; z-index:-1000; width:100%; display:block; height:110px; top:0}


.tagline{background:#f4f3ef; border-top:1px solid #c4c2b8; border-bottom:1px solid #c4c2b8; width:100%;}
.tagline-cont{padding-top:3px;font-size: 12px; letter-spacing:1px; height:23px; width:900px; margin: 6px auto 0 auto; padding-left:170px}

header#primaryHeader{width:100%; margin: 0 auto; background:#d4ec89; height:120px }
.header-cont{width:900px; margin: 0 auto;}

nav{display:block; float:right; margin: 60px 0 0 0}
nav a:link, nav a:visited{color:#222; font-weight:bolder; font-size:12px; margin-right:10px; text-decoration:none;}
.logo{background:url('homepage/logo.png'); margin-top: 30px;display: inline-block; width:410px; height:130px; background-repeat:no-repeat; padding: 30px 0 0 80px; font-size:39px; color:#fff; text-shadow:1px 1px 2px #ccc; letter-spacing:-1px;}

div#header {
  .header-bg{min-width:900px; z-index:-1000; width:100%; background:$lime; display:block; height:110px; top:0}
  header{width:900px; margin: 0 auto; position:absolute; top:20px; left:$left_margin; }
  .logo{background: url('homepage/logo.png'); width:410px; height:130px; background-repeat:no-repeat; padding: 30px 0 0 80px; font-size:39px; color:#fff; text-shadow:1px 1px 2px #ccc; letter-spacing:-1px;}

  .tagline-bg{min-width:900px; width:100%; height:30px; background:#f4f3ef; z-index:1; border-top:1px solid #c4c2b8; border-bottom:1px solid #c4c2b8}
  .tagline{top: 98px; position:absolute; font-size: 12px; left:88px; letter-spacing:1px}

  nav{position:absolute; right:0; top:30px}
  nav a:link, nav a:visited{color:#222; font-weight:bolder; font-size:12px; margin-right:10px; text-decoration:none;}
}
.pre-footer-cont{width:100%; background:#d4ec89; height:140px;}
#pre-footer{width:900px; margin: 0 auto}
.footer-links{margin-top: 12px;height:120px; float:right; right:0; display:block; padding: 10px 0 0 0}
.footer-links a:link,
.footer-links a:visited{text-decoration:none; color:#222; display:block; right:0; text-align:right; opacity: 0.6; font-weight:bold; padding:3px 0px 1px 50px; font-size:12px;}

.footer-cont{height:40px; width:100%; background:#222}
.footer-logo img{margin-top:-120px; margin-bottom: -18px;}
footer{height:20px; clear:both;background:#222; color:#fff; font-size:10px; padding: 10px 0; width:900px; margin: 0 auto;}
footer .footer-copy{margin-bottom: 10px;text-align:right; margin-top:-14px;}


h2 { 
	color: $teal; 
	margin-bottom: 31px;
	line-height:24px;
}

h3 {
  color: $teal;
  font-weight:200;
}

.content-container {
	padding:$left_margin;
	line-height:1.2em;
	margin: 0 auto; width:900px; padding-top:5px;
}

a.button,
a.button:link,
a.button:visited{
	color:#fff; 
	padding: 5px 19px; 
	background:$teal; 
	border-radius:15px; 
	text-decoration:none;
	font-size:14px;
}

a.button:hover{
	background:#459294;
}

.content-area {
	box-shadow: 2px 2px 2px #CCC;
	background:#FFF;
	padding:12px;
	border-radius:7px;
	border:solid 1px #EFEFEF;

	clear:both;
	margin-bottom:31px;
}

div.people {
	ul {
		padding:0px;
		list-style:none;
		margin:31px 0px;
		
		li {
			display:block;
			float:left;
		}
	}
}

section.person {

	padding-bottom:12px;
	margin-right:31px;		
	background: #FFF;
	text-align:center;
	border-radius:7px;
	border:solid 1px #EFEFEF;
	border-bottom:0px;

	box-shadow: 2px 2px 2px #EFEFEF;
	h4 {
		padding:4px 0px;
	}

	a {
		text-decoration:none;
	}

	img {
		border-top:solid 1px #CCC;
		border-bottom:solid 1px #CCC;
	}

	&:hover {
		background-color:$lime;
	}
}

section.tools {
	padding:7px;
}


@import "classrooms";
@import "educators";
@import "families";
@import "parent";
@import "welcome";
@import "children";


.vco-slider .content-container .media {
	width:auto !important;
}

.vco-slider .content-container .text {
	width:100% !important;
}



div.event-list {
	padding:12px;
	th,td {
		padding:12px;
	}

	th.date { width:25%; }
	th.category { width:15%; }
	th.indicator { width:60%; }

	th {
		border-bottom: solid 2px #EFEFEF;
	}

	td.date,
	td.category,
	td.indicator {
		border-bottom: solid 1px #EFEFEF;
	}
}