
.profile {
	img {
		float:left;
		margin-right:31px;
	}

	dl {

		dt { 
			float:left;
			width:200px;
			display:block;
			text-align:right;
			margin-right:24px;
		}

		dd {
			text-align:left;
		}

	}
}

section.records {
	background:#FFF;
	margin-top:31px;
}