
.profile {
	img {
		float:left;
		margin-right:31px;
	}

	dl {

		dt { 
			float:left;
			width:200px;
			display:block;
			text-align:right;
			margin-right:24px;
		}

		dd {
			text-align:left;
		}

	}
}

.current-educator {
	float:right;
	text-align:center;
	padding:12px;
	border-left:dotted 1px #CCC;
	img {
		margin:0px auto;
		width:75px;
		float:none;
		display:block;
		margin-bottom:12px;
	}
}

section.records {
	background:#FFF;
	margin-top:31px;
}