.add-child {
	float:right;
}


.family.people {
	li {
		display:block;
		float:none;
		margin-bottom:31px;
		
		a {
			text-decoration:none;
			color:#666;
		}

		section.person {
			margin:0px;
		}

		aside.profile {
			float:right;
			width:600px;
		}
	}
}