
.header-bg{min-width:900px; position:absolute; z-index:-1000; width:100%; display:block; height:110px; top:0}

header#primaryHeader{width:100%; margin: 0 auto; background:#d4ec89; height:120px }
.header-cont{width:900px; margin: 0 auto;}

nav{display:block; float:right; margin: 60px 0 0 0}
nav a:link, nav a:visited{color:#222; font-weight:bolder; font-size:12px; margin-right:10px; text-decoration:none;}
.footer-links a:hover, nav a:hover {color:white; opacity: 1;}
.logo{background:url('homepage/logo.png'); margin-top: 30px;display: inline-block; width:410px; height:130px; background-repeat:no-repeat; padding: 30px 0 0 80px; font-size:39px; color:#fff; text-shadow:1px 1px 2px #ccc; letter-spacing:-1px;}

.tagline{background:#f4f3ef; border-top:1px solid #c4c2b8; border-bottom:1px solid #c4c2b8; width:100%;}
.tagline-cont{padding-top:3px;font-size: 12px; letter-spacing:1px; height:23px; width:900px; margin: 6px auto 0 auto; padding-left:170px}

.hero-unit-cont{width:900px; height:300px; margin: 0 auto;}

#hero-unit{width:100%; background-color:#fff; margin:0 auto; box-shadow:1px 1px 2px #ccc; background-image:url('homepage/parent_with_daughter.jpg'); background-position:right; background-repeat:no-repeat; }
.hero-blurb{padding:34px 0 0 0px}
.hero-blurb h1{color:#78bec0; font-weight:lighter;}
.hero-text{font-size:14px; line-height:24px; width:340px; margin: 20px 0}

.select-role-cont{width: 900px; margin: 0 auto; padding: 30px 0 30px 0px}
.select-role{width: 100%;}
.select-role h3{display:block; width:500px; float:left;}
.select-role a:link,
.select-role a:visited{color:#fff; padding: 5px 35px; background:#78bec0; border-radius:15px; text-decoration:none;}
.select-role a:hover{background:#459294}
.edu{margin-right:20px; margin-left:40px}


.value-cont{width:100%;border-top:1px solid #c4c2b8; border-bottom:1px solid #c4c2b8; background:#f4f3ef}
.value{
	display:block; 
	width: 900px; 
	margin: 0 auto; 
	height:230px; 
	background:#f4f3ef; 
	z-index:222;
 	padding: 0 0 0 50px;
}
#quotes{
	float:left;
	margin-top:52px;
	margin-left: 130px;
	font-family: Open Sans;
	font-size:26px;
	color:white;
	text-shadow:1px 1px 2px #ccc;
}
#quotes:before {
color:#ccc;
content:open-quote;
font-size:3.7em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
color: #87D2F0;
position: absolute;
margin-left: -46px;

}

#author{
	color: black;
	font-style: italic;
	position: absolute;
	margin-top: 30px;
	text-indent: -90px;
	opacity: .5;
	font-size: 20px;
	margin-top: 27px;
	font-size: 16px;
}
#author:before{
	content:"@";
}



.value{text-align:center}
.value img{margin:0 auto 20px auto; clear:both; display:block; font-size:12px;}
.value .one{padding: 20px 10px; width: 280px; display:inline-block; float:left}
.value .two{padding: 20px 10px; width:280px; display:inline-block; float:left}
.value .three{padding: 20px 10px; width: 280px; display:inline-block;float:left}
.one,.two,.three{text-align:center; font-size:14px; line-height:20px;}